*{
    padding: 0;
    margin: 0;
}

header{
    height: 92vh !important;
    background-color: #d9eff7; 
}

nav{
    background-color: #4741a6 !important;
}


nav .text-dark{
    color: #F9CE69 !important;
}

nav .nav-link:hover{
    color: #F9CE69 !important ;
    width: auto;
    height: 35px;
} 

.text-dark{
    color: #4741a6 !important;
}

nav .btn-primary{
    background-color: orangered !important;
}

.active{
    color: #F9CE69 !important;
}

.nav-link:hover{
    color: #4741a6 !important ;
    width: auto;
    height: 35px;
} 

/* .bg-dark{
    background-color: blac !important;
} */

.btn-box a{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 2.6rem;
    background: #d9eff7;
    border: 1px solid #4741a6;
    border-radius: 10px;
    font-size: 19px;
    color: #4741a6;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 1;
    overflow: hidden;
    text-transform: capitalize;
    transition: .5s;
}

.btn-box a:hover{
    color: #F9CE69;
}

.btn-box a:nth-child(2){
    /* background-color: white; */
    /* color: RED; */
}

.btn-box a:nth-child(2):hover{
    /* color: orangere; */
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4741a6;
    color: #F9CE69;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}


header .home-sci{
    position: absolute;
    bottom: 40px;
    width: 22%;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid orangered;
    border-radius: 50%;
    font-size: 16px;
    color: orangered;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-sci a:hover{
    color: black;
    background-color: orangered;
}

/*-------------------------------------- a propôs section --------------------------------------*/

#a-propos{
    height: 100vh !important;
     background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) , url("images/bg1.jpg") fixed;
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat ;
}


#a-propos .borders p{
    top: 0;
    left: 0;
    margin: auto;
    font-style: italic;
    font-size: 25;
}

.title::before{
    content: '';
    background: #F9CE69;
    height: 4px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(40px);
    border-radius: 10px;
}

#formation{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) , url("images/c3d3a335cad0a773b023cbad31ed6c7c.jpg") fixed;
    height: 100vh;
}
.card-body{
    background-color: #d9eff7;
    height: 55vh;
}

.shadow{
    box-shadow:  2px 3px 0 5px;
}

h5{
    color: #4741a6;
    font-weight: bold;
}

/* competences  */
#competences{
    height: 95.8vh;
    background: linear-gradient(rgba(6, 6, 6, 0.55), rgba(8, 3, 3, 0.55)) , url("images/Formation.jpg") fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;


}